<button type="button" class="btn btn-warning mb-3" (click)="onGoBack()">
  <i
    class="fa-solid fa-arrow-left-long"
    role="img"
    aria-label="go left arrow"
  ></i>
</button>

<form
  [formGroup]="contactForm"
  (ngSubmit)="editMode ? onEditContact() : onSubmit()"
>
  <div class="mb-3">
    <label for="first-name" class="form-label">First Name</label>
    <input
      type="text"
      class="form-control"
      id="first-name"
      required
      formControlName="firstName"
    />
    <div class="invalid-feedback">Please only your name.</div>
  </div>
  <div class="mb-3">
    <label for="last-name" class="form-label">Last Name</label>
    <input
      type="text"
      class="form-control"
      id="last-name"
      required
      formControlName="lastName"
    />
    <div class="invalid-feedback">Please enter your last name.</div>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
    />
    <div class="invalid-feedback">Invalid email.</div>
  </div>
  <div class="mb-3">
    <label for="image-path" class="form-label">Image URL</label>
    <input
      type="text"
      class="form-control"
      id="image-path"
      formControlName="imagePath"
    />
    <div class="invalid-feedback">Invalid URL</div>
  </div>

  <ng-container
    *ngIf="contactNumbers.controls.length"
    formArrayName="phoneNumbers"
  >
    <div
      class="mb-3 d-flex gap-2"
      *ngFor="let number of contactNumbers.controls; let i = index"
    >
      <div class="w-100">
        <label [for]="i" class="form-label"> Phone Number ({{ i + 1 }}) </label>
        <div class="d-flex gap-3 form-group">
          <input
            type="text"
            class="form-control"
            [id]="i"
            placeholder="809-560-5589"
            required
            [formControlName]="i"
          />
          <button
            type="button"
            class="btn btn-danger align-self-strech"
            (click)="onRemovePhoneNumber(i)"
            [disabled]="i === 0"
            title="Delete Phone Number"
          >
            <i
              class="fa-regular fa-trash-can"
              style="color: #ffffff"
              role="img"
              aria-label="recycle bin"
            ></i>
          </button>
        </div>
        <div class="invalid-feedback">Invalid phone number.</div>
      </div>
    </div>
  </ng-container>

  <div class="d-flex justify-content-end gap-3">
    <button type="button" class="btn btn-success" (click)="onAddPhoneNumber()">
      Add Phone Number
    </button>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="contactForm.invalid"
    >
      {{ editMode ? "Update Contact" : "Add Contact" }}
    </button>
  </div>
</form>
